{% block workspace_header %}
    <div class="workspace-header border-bottom pb-3 px-2">
        <span class="badge badge-dark">рабочая область</span>
        <h1 class="display-3">{{ workspace.name }}</h1>
    </div>
{% endblock %}